CONFIG_CENTER_ADDR=:8080
CONFIG_CENTER_BASE_URL=http://localhost:8080

PG_HOST=127.0.0.1
PG_PORT=5432
PG_ADMIN=postgres
PG_ADMIN_SECRET=change-me

CONFIG_CENTER_DB_NAME=config_center
CONFIG_CENTER_DB_USER=config_center
CONFIG_CENTER_DB_PASSWORD=

AUTH_LIMIT_BASE_URL=https://auth-limit.baichengedu.com
AUTH_LIMIT_ADMIN=
AUTH_LIMIT_ADMIN_SECRET=
AUTH_LIMIT_SERVICE_ID=
AUTH_LIMIT_APP_ID=
AUTH_LIMIT_APP_SECRET=
